<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8"/>
</head>
<body>

<div th:fragment="header">
    <nav id="navbar-top" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav text-center">
                    <li><a href="#" th:href="@{/home}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="#" th:href="@{/home}"><b>Home Exchange</b></a></li>
                    <li><a href="#" th:href="@{/homes}" sec:authorize="hasRole('ROLE_USER')">Show all homes</a>
                    </li>
                    <li><a href="#" th:href="@{/home/new}" sec:authorize="hasRole('ROLE_USER')">Add a new home</a>
                    </li>
                    <li sec:authorize="isAnonymous()"><a href="#" th:href="@{/login}">Sign in</a></li>
                    <li sec:authorize="isAnonymous()"><a href="#" th:href="@{/register}">Create an account</a></li>
                </ul>
            </div>
            <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="text-center dropdown-toggle" data-toggle="dropdown">
                        <div th:if="${loginSuccess}" class="col col-md-12 text-center">
                            <div class="alert alert-success">
                                <strong>Success!</strong> <span th:text="${loginSuccess}"></span>
                            </div>
                        </div>
                        <i class="glyphicon glyphicon-user"></i>
                        <strong sec:authentication="name"></strong>
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu text-center">
                        <li>
                            <a th:href="@{/profile}" class="text-center">
                                <i class="glyphicon glyphicon-user"></i>
                                &nbsp;My Profile
                            </a> 
                        </li>
                        <li>
                            <a th:href="@{/searchForMyHomes}" class="text-center">
                                <i class="glyphicon glyphicon-home"></i>&nbsp;My Homes
                            </a> 
                        </li>
                        <li class="center-block">
                            <form id="logoutform" th:action="@{/logout}" method="POST">
                                <input type="submit" class="btn btn-danger center-block align-middle" value="Logout">
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>