<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<!--    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}" type="image/x-icon">
    <link rel="icon" th:href="@{/assets/images/favicon.ico}" type="image/x-icon">-->

    <script
            th:src="@{/assets/js/jquery-3.2.1.min.js}" type="text/javascript"></script>

    <script
            th:src="@{/assets/js/custom.js}" type="text/javascript"></script>

    <script
            th:src="@{/assets/js/bootstrap.min.js}" type="text/javascript"></script>

    <link
            th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css"/>

    <link
            th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>

</head>
<body>

</body>
</html>