<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>All homes available</title>
    <th:block th:include="fragments/headerincludes :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>
<div class="container-fluid text-center">
    <div class="row-fluid">
        <div class="col col-md-12">
            <table class="table table-bordered table-striped table-hover table-condensed table-responsive">
                <thead>
                <tr>
                    <th>
                        Size in square meters
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Available
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="home : ${allHomes}">
                    <td th:text="${home.sizeInSquareMeters}">
                    </td>
                    <td th:text="${home.type}">
                    </td>
                    <td th:text="${home.description}">
                    </td>
                    <td th:text="${home.available}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>