<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Home Exchange - home</title>
    <th:block th:include="fragments/headerincludes :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>
<header>
    <div th:if="${messageDoesNotExist}" class="col col-md-12 text-center">
        <div class="alert alert-danger">
            <strong>Warning!</strong> <span th:text="${messageDoesNotExist}"></span>
        </div>
    </div>
    <div th:if="${messageDeleteFailed}" class="col col-md-12 text-center">
        <div class="alert alert-danger">
            <strong>Warning!</strong> <span th:text="${messageDeleteFailed}"></span>
        </div>
    </div>
    <div th:if="${messageViewFailed}" class="col col-md-12 text-center">
        <div class="alert alert-danger">
            <strong>Warning!</strong> <span th:text="${messageViewFailed}"></span>
        </div>
    </div>
    <div class="header-content">
        <div class="header-content-inner vcenter">
            <h2>Where would you like to move?</h2>
            <form th:action="@{/searchForHomes}" method="POST">
                <div class="form-group">
                    <input placeholder="Type in a country, city, or street" class="form-control" type="text"
                           name="searchParameter"/>
                    <br/>
                    <input type="submit" class="col-md-12 btn btn-primary" value="Search"/>
                </div>
            </form>
        </div>

    </div>
</header>
<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>