<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <th:block th:include="fragments/headerincludes :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="text-center">Login</h1>
            <div class="row">
                <div th:if="${registrationSuccess}" class="col col-md-12 text-center">
                    <div class="alert alert-success">
                        <strong>Success!</strong> <span th:text="${registrationSuccess}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <br/>
                <div th:if="${#httpServletRequest.getParameter('editProfileSuccess')}" class="col col-md-12 text-center">
                    <div class="alert alert-success">
                        <strong>Success!</strong> <span>Profile edited successfully! Please log back in to save your changes.</span>
                    </div>
                </div>
            </div>
            <span th:if="${param.error}" class="center-block text-center alert alert-danger">
                Invalid username or password.
            </span>
            <span th:if="${param.logout}" class="center-block text-center alert alert-success">
                You have been logged out.
            </span>
            <form th:action="@{/login}" method="post"> 
                <div class="form-group">
                    <label for="username">Username:</label>
                       <input class="form-control" type="text" id="username" name="username" placeholder="Username"
                              required="required" autofocus="autofocus"/>
                </div>
                  
                <div class="form-group">
                    <label for="password">Password:</label>
                       <input class="form-control" type="password" id="password" name="password"
                              placeholder="Password" required="required" autofocus/> 
                </div>
                <div class="form-group">
                    <input type="checkbox" name="_spring_security_remember_me" id="remember_me">
                    <label for="remember_me">Remember me</label>
                </div>
                  
                   <input class="btn btn-primary center-block col col-md-12" type="submit" value="Login"/>

                  <input type="hidden" name="${_csrf.parameterName}"
                         value="${_csrf.token}"/>
                 
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="text-center">
                <hr/>
                <span>Don't have an account?</span>
                <a th:href="@{/register}" class="btn btn-primary">Register</a>
            </div>
        </div>
    </div>
</div>
</div>
<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>