<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <title>Send a new message</title>
    <th:block th:include="fragments/headerincludes :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-4 col-md-offset-4">
            <br/>
            <div th:if="${messageSentSuccess}" class="col col-md-12 text-center">
                <div class="alert alert-success">
                    <strong>Success!</strong> <span th:text="${messageSentSuccess}"></span>
                </div>
            </div>
            <h1 class="text-center">Message</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 th:text="${message.title}"></h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="sentBy">Sent by:</label>
                            <div id="sentBy" th:text="${message.author}"></div>
                            <label for="sentOn">Sent at:</label>
                            <div id="sentOn" th:text="${#dates.format(message.createdOn, 'dd.MM.YYYY HH:mm')}"></div>
                            <label for="content">Content:</label>
                            <div class="col-md-12 well">
                                <span id="content" th:text="${message.content}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" th:if="${!#strings.equals(message.author, #authentication.getName())}">
                    <a th:href="@{/message/new/{receiver}(receiver=${message.author})}"><button type="button" class="btn btn-success">Reply</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>